body{
    padding:0; 
    margin:0;
    min-width:700px;
}
.contentGoHere{
    margin: 0 auto;
    overflow: hidden;
    margin-top: 60px;
}
/*     ////////RELATIONS Inside div /////////NICE TO KNOW

If the cube is directly inside the container:
#container:hover > #cube { background-color: yellow; }

If cube is next to (after containers closing tag) the container:
#container:hover + #cube { background-color: yellow; }

If the cube is somewhere inside the container:
#container:hover #cube { background-color: yellow; }*/