input{
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#inputContext{
    min-height: 200px;
    word-wrap: break-word;
}
.PostEditorWrapper{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(189, 182, 182, 0.7);
}
.PostEditor{
	margin: 0 auto;
	width: 95%;
}
.PostEditor p{
	text-indent: 50px;
    font-size: 30px;
    font-family: logo2;
    color: black;
    border-top: 2px solid black;
}
.PostEditor p:first-child{
	border: none;
}
.PostEditor input{
	margin-bottom: 5px;
	font-family: logo2;
}
.PostEditorTitle{
	height: 35px;
	font-size: 20px;
	text-indent: 25px;
}
.PostEditorMainBg{
 	height: 35px;
    font-size: 20px;
    text-indent: 25px;
}
.PostEditorMainTxt{
	width: 100%;
	margin-bottom: 5px;
	resize: none;
	outline: none;
	overflow: hidden;
}
.footerNewPage{
	padding-bottom: 5px;
    position: relative;
    height: 35px;
}
.PostEditorSaveButton{
	margin-top: 0px;
    width: 50px;
    font-size: 14px;
    font-family: logo2;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #5bc0de;
    border-color: #46b8da;   
    opacity: 1;
    cursor: pointer;
    float: right;
}