body{
    padding:0; 
    margin:0;
    min-width:700px;
}
header{
    background-color: rgba(189, 182, 182, 0.7);
    border-bottom: 2px solid black;
}
header ul{
    width: 80%;
    text-align: center;
    margin: 0;
}
header ul li{
     display: inline;
     padding-right: 40px;
}
header ul li:first-child{
    padding-right: 0px;
    float: left;
}
header ul li a{
    text-decoration: none;
    font-size: 40px;
    line-height: 60px;
    font-family: logo2;
    color: black;
    transition: 450ms;
}
header ul li a:hover{
    color: white;
    transition: 450ms;
}
#logo{
    opacity: 0.85;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
    font-family: logo;
}
#mainContainer{
    width: 80%;
    margin: 0 auto;
}
#newPostContainer{
    width: 80%;
    margin: 0 auto;
}
.postWrapper{
    height: 350px;
    border-bottom:2px solid black;
    background-size: 100% auto;
    background-image: url("../img/01.jpg");
    position: relative;
    transition: 450ms;
    margin-top: 35px;
}
.postWrapper:hover > .postHover {
    background-color: rgba(111, 111, 111, 0.35);
    bottom: 0;
    transition: 450ms;
}
.postWrapper:hover button{
    opacity: 1;
}
.postHover{
    position: absolute;
    bottom: -300px;
    width: 100%;
    height: 350px;
    transition: 450ms;
}
.postWrapper:last-child{
    border:none;
}
.postTitle{
    background-color: rgba(255, 255, 255, 0.50);
    height: 50px;
    line-height: 50px;
    position: relative;
}
.postTitleText{
    width: 90%;
    position: absolute;
    text-indent: 25px;
    font-family: logo2;
    font-size: 30px;
}
button{
    height: 75%;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;    
    margin-top: 7px;
    opacity: 0;
}
.postTitle button{
    margin-right: 5px;
    float: right;
}
.postEditButton{
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    border:none; 
    font-family: sans-serif;
    transition: 450ms;
    
}
.postEditButton:hover{
    background-color: #5bc0de;
    border-color: #46b8da;
    transition: 450ms;
}
.postDeleteButton{
    width: 40px;
    background-color: rgba(255, 255, 255, 0);
    border:none; 
    transition: 450ms;
}
.postDeleteButton:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
    transition: 450ms;
    
}
.postContext{
    font-size: 20px;
    line-height: 1.55;
    padding-top: 145px;
    text-indent: 50px;
    
}
p{
    font-family: logo;
    margin: 0;
}

input{
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#inputContext{
    min-height: 200px;
    word-wrap: break-word;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
.active{
    pointer-events: auto;
    cursor: pointer;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/01.jpg");
}
/*     ////////RELATIONS Inside div /////////NICE TO KNOW

If the cube is directly inside the container:
#container:hover > #cube { background-color: yellow; }

If cube is next to (after containers closing tag) the container:
#container:hover + #cube { background-color: yellow; }

If the cube is somewhere inside the container:
#container:hover #cube { background-color: yellow; }*/