.mainPageTransitionGroup-enter{
	opacity: 0.1;
}
.mainPageTransitionGroup-enter-active{
	opacity: 1;
	transition: 300ms ease-in-out all;
}
.mainPageTransitionGroup-leave{
	opacity: 1;
}
.mainPageTransitionGroup-leave-active{
	opacity: 0.1;
	transition: 300ms ease-in-out all;
}