.mainBackground{
  /*FULL SCREEN BG*/
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px;
 /*CENTER TITLE*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 /*TITLE STYLE*/
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mainContent{

}