.mainBackground{
  /*FULL SCREEN BG*/
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
 /*CENTER TITLE*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 /*TITLE STYLE*/
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mainContent{
    text-indent: 15px;
    background-color: azure;
    font-size: 1.5vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    width: 80%;
    
}
.mainContent pre{
  font-family: Verdana;
  white-space: pre-wrap;
  margin-bottom: 0;
}